<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 9</title>
</head>
<body>
<div style="display:flex;justify-content:center">
    <form class="auth-form" action="{% url 'StorySembilan:login' %}" method="POST">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" name="username" autofocus="" required="" id="id_username">
        <label for="id_password">Password:</label>
        <input type="password" name="password" required="" id="id_password">
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" id="login" value="Login">
    </form>
</div>
</body>
</html>
