<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 9</title>
</head>
<body>
    <div style="display:flex;justify-content:center">
        {% if user.is_authenticated %}
        <h1>Selamat Datang, {{ user }}</h1>
        <a href="{% url 'StorySembilan:logout' %}">
            <button id="logout">Logout</button>
        </a>
        {% else %}
        <h1>
            Tolong Login
        </h1>
        <a href="{% url 'StorySembilan:login' %}">
                <button id="login">Login</button>
        </a>
        {% endif %}
    </div>
</body>
</html>
