body {
    background-color: whitesmoke;
}
.accordion {
    background-color: black;
    color: whitesmoke;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0s;  
}

.col-4{
    margin: auto;
}

#theme{
  color:black;
  margin-left:40px;
  margin-bottom:10px;
}
