<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story 6</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>
            <form action="{% url 'LandingPage:add_status' %}" method="POST">
                <table style="margin:auto">
                    {% csrf_token %}
                    {{form.as_table}}
                </table>
                <button type="submit" style="margin-top: 10px">Submit</button>
            </form>
        </p>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in status %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{stat.status}}</td>
                        <td>{{stat.date}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </p>
    </body>
</html>