{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/storyTujuh.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title>Story 7</title>
    </head>
    <body class="row vertical-center-row">
        <div class="col-4">
            <div class=container id="accordion">
                <button class="accordion" >Aktivitas</button>
                <div class="panel">
                    <p>Gantiin staff yang tiba-tiba keracunan makanan</p>
                </div>
                
                <button class="accordion">Pengalaman</button>
                <div class="panel">
                    <p>Dokum dimana-mana</p>
                </div>
                
                <button class="accordion">Pencapaian?</button>
                <div class="panel">
                    <p>Pertanyaan menarik</p>
                </div> 
            </div>
            
            <div class="container">
                <h5 id="theme">Ganti Warna</h5>
                <button class="btn" name="lightmode" onclick="UbahTerang()">Terang</button>
                <button class="btn" name="darkmode" onclick="UbahGelap()">Gelap</button>

            </div>
        </div>

        <script>
             $( function() {
                $( "#accordion" ).accordion({active: false, collapsible: true});
            });

            function UbahTerang(){
            $('body').css('background-color', 'whitesmoke'); 
            $('.accordion').css('background-color', 'black');  
            $('.panel').css('background-color', 'white');
            $('#theme').css('color', 'black');
        }
        function UbahGelap(){
            $('body').css('background-color', 'black');
            $('.accordion').css('background-color', 'grey');    
            $('.panel').css('background-color', 'whitesmoke');
            $('#theme').css('color', 'white');   
        }
        </script>

    </body>
</html>